.img-container{
    margin-left: 4rem;
}
.playlistContainer{

    height:87vh;
    overflow-y: scroll;
}
.trackList-overlay{
    padding:0 1rem;
}
.trackList-overlay:hover{

    background-color: rgba(0, 0, 0, .5)
/* opacity: 0.4; */
}
.currentlyPlaying{
    color:green;
    background-color: rgba(0, 0, 0, .5)
}