.spotify_search_input{
width:100%;
background: rgb(73, 73, 73);
height: 70px;
border:none;
color:inherit;
padding:1rem 4rem;
font-size: 30px;
font-weight: 900;

}
.search-content{
    height:78.4vh;
    background:rgb(17, 16, 16);
    width: 100%;
    padding:2rem;

}
.search_route_wrapper{
    height:68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width:100%;
   
}