.App {
  text-align: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.app-maincontent{
  padding:0 !important;
  height: '100%'!important;
}
.ui.menu {
 justify-content: center;
}
.ui.secondary.pointing.menu {
  border: none !important;
}
.ui.card, .ui.cards>.card {
  background: none !important;
  box-shadow: none !important;
}
.ui.card>:first-child, .ui.cards>.card>:first-child {
  border-radius:none !important;
}
.ui.segment {
  padding:  0 !important;
}
.ui.grid {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* SidePanel.js */
.custom_menu{
  display:flex;
  padding:10px 5px 0 0;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  font-size: 5px!important;

}
a:hover{
  color:white;
}
.whiteText {
  color: #ffff !important
}
.greyText{
  color:rgb(202, 199, 199)!important;
}
.displayBlock{
  display: block;
}
.custom_menu:hover{
color: #ffff;
}
.custom_menu_item{
  font-size: 16px;
  font-weight: 900

}
.m-l{
  margin-left:25px;
}
.sidepanelFooter{
  position: absolute;
bottom:0;
padding:10px;
  width:100%;

}
.p-r-1{
  padding-right: 1rem !important;
}